@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,700;1,400&display=swap");
/* Estilos Gereais */
:root {
  --primary-color: #fec63e;
  --secondary-color: #000;
  --third-color: #fff;
}

body {
  font-family: "Mulish", Arial, sans-serif;
}

p {
  font-family: Georgia, "Times New Roman", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

img {
  display: block;
  max-width: 100%;
}

.btn {
  width: 140px;
  height: 40px;
  border: 3px solid var(--primary-color);
  padding: 10px 30px;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
  color: var(--primary-color);
}

.btn:hover {
  color: var(--third-color);
  border: 3px solid var(--third-color);
}

.btn.btn-preto:hover {
  color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.subtitulo {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  letter-spacing: 0.1em;
  color: var(--secondary-color);
  margin-bottom: 40px;
  text-transform: uppercase;
  text-align: center;
}

.subtitulo::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: var(--secondary-color);
  margin: 10px auto;
}

.subtitulo-interno {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  letter-spacing: 0.1em;
  color: var(--secondary-color);
  margin-bottom: 20px;
  text-transform: uppercase;
}

.subtitulo-interno::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: var(--secondary-color);
  margin: 8px 0;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: var(--primary-color);
  padding: 15px 0;
  max-height: 159px;
  z-index: 10;
}

.header-menu {
  text-align: right;
}

.header-menu ul li {
  display: inline-block;
  margin-left: 25px;
  margin-top: 20px;
}

.header-menu ul li a {
  color: var(--secondary-color);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 0;
  position: relative;
}

.header-menu ul li a:hover {
  color: var(--third-color);
}

.header-menu ul li a::after {
  content: "";
  width: 0;
  height: 2px;
  background: var(--third-color);
  position: absolute;
  left: 0;
  bottom: -1px;
}

.header-menu ul li a:hover::after {
  width: 100%;
  transition: width 200ms ease-in-out;
}

.header-menu ul li a.menu-ativo {
  color: var(--third-color);
}

/* Introdução */
.introducao {
  width: 100%;
  background: url("../img/bg.jpg") no-repeat center;
  background-size: cover;
  margin-top: 92px;
  height: 380px;
  text-align: center;
}

.introducao h1 {
  font-size: 48px;
  color: var(--third-color);
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 80px;
}

.quote-externo {
  max-width: 320px;
  font-family: Georgia, sans-serif;
  margin: 10px auto 0;
  color: var(--third-color);
  margin-bottom: 40px;
}

.quote-externo p {
  font-style: italic;
}

.quote-externo p::before,
.quote-externo p::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: var(--third-color);
  margin: 14px auto 10px auto;
}

.quote-externo cite {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.1em;
}

/*Introdução Interna*/
.introducao-interna {
  width: 100%;
  height: 160px;
  margin-top: 92px;
  text-align: center;
  color: var(--third-color);
  padding-top: 30px;
}

.introducao-interna h1 {
  font-size: 36px;
  color: var(--third-color);
  font-weight: bold;
  text-transform: uppercase;
}

.introducao-interna h1:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: var(--third-color);
  margin: 6px auto 10px auto;
}

/* Prdutos */

.produtos {
  padding: 60px 0;
}

.produtos h2 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.produtos-lista li {
  background: var(--primary-color);
  text-align: center;
}

.produtos-lista img {
  margin: 0 auto;
}

.produtos-lista li h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-top: 20px;
}

.produtos-lista li h3::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: var(--secondary-color);
  margin: 2px auto;
}

.produtos-lista li p {
  padding: 10px 20px 20px 20px;
}

.produtos-icones {
  background: var(--secondary-color);
  padding: 20px;
}

.call {
  clear: both;
  text-align: center;
  padding-top: 40px;
}

.call p {
  margin-bottom: 20px;
}

/*Portfolio*/
.portfolio {
  width: 100%;
  background: var(--secondary-color);
  padding: 40px 0;
}

.portfolio .subtitulo {
  color: var(--primary-color);
}

.portfolio .subtitulo:after {
  background: var(--primary-color);
}

.portfolio-lista :last-child {
  margin-top: 20px;
}

.portfolio .call p {
  color: var(--third-color);
}

/*Qualidade*/
.qualidade {
  padding: 60px 0;
}

.qualidade::after {
  content: "";
  width: 634px;
  height: 83px;
  display: block;
  background: url("../img/linhas.svg") no-repeat center;
  position: absolute;
  top: 211px;
  left: 164px;
  z-index: -1;
}
.qualidade img {
  margin: 0 auto;
}

.qualidade-lista {
  padding-top: 20px;
  overflow: auto; /*clear fix*/
}

.qualidade-lista li {
  text-align: center;
  padding: 0 40px;
}

.qualidade-lista li h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-top: 20px;
}

.qualidade-lista li h3::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: var(--secondary-color);
  margin: 6px auto;
}

/*Qubra*/
.quebra {
  width: 100%;
  height: 220px;
  background: url("../img/bg-footer.jpg") no-repeat center;
  background-size: cover;
  text-align: center;
  padding-top: 40px;
}
.quebra .quote-externo {
  max-width: 400px;
}

/* Footer */
.footer {
  width: 100%;
  background: var(--secondary-color);
  color: var(--third-color);
  padding: 20px 0;
}

.footer h3 {
  font-size: 18px;
  line-height: 25px;
  color: var(--primary-color);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1em;
}

.footer h3::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: var(--primary-color);
  margin: 6px 0 12px 0;
}

.footer_historia {
  padding-right: 10px;
}

.footer_contato ul li {
  font-size: 14px;
  line-height: 20px;
  font-family: Georgia, "Times New Roman", serif;
}

.footer-redes ul li {
  display: inline-block;
  padding-right: 20px;
}

.footer-redes ul li a {
  width: 40px;
  height: 40px;
  display: block;
}

.footer-redes ul li img {
  border: 3px solid var(--primary-color);
  padding: 6px;
}
.footer-redes ul li img:hover {
  border: 3px solid var(--third-color);
}
/*Rodapé*/
.copy {
  background: var(--primary-color);
  width: 100%;
  padding: 20px 0;
}

.orcamento-dados {
  color: var(--third-color);
}

.orcamento-dados h3 {
  font-size: 18px;
  font-weight: bold;
  line-height: 25px;
  text-transform: uppercase;
  color: var(--primary-color);
}

.orcamento-dados span {
  display: block;
  font-size: 18px;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 30px;
}

.dados-email {
  margin-bottom: 40px;
}

.orcamento-dados ul {
  padding-right: 60px;
}

.orcamento-dados ul li {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  padding: 10px 15px;
}
.orcamento-dados ul li:nth-child(odd) {
  background: #1d1d1d;
}

.orcamento-dados p {
  margin: 8px;
}

/*Javascript*/
.js [data-slide] {
  position: relative;
}
.js [data-slide] > * {
  position: absolute;
  top: 0px;
  opacity: 0;
}
.js [data-slide] > .active {
  position: relative;
  opacity: 1;
  transition: opacity 500ms;
  z-index: 1;
}

.js [data-slide-nav] {
  display: block;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}
.js [data-slide-nav] > button {
  display: inline-block;
  width: 12px;
  margin: 4px;
  height: 12px;
  border: none;
  padding: 0px;
  border-radius: 6px;
  background: #1d1d1d;
  text-indent: -100px;
  overflow: hidden;
}
.js [data-slide-nav] > button.active {
  background: #fec454;
  outline-style: none;
}

.js [data-anime] {
  opacity: 0;
}

.js .fadeInDown {
  transform: translate3d(0, -20px, 0);
}

.js .anime {
  opacity: 1;
  transform: none;
  transition: opacity 800ms, transform 800ms;
}
